# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*/__pycache__/

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.pyc
*.egg-info/
.installed.cfg
*.egg
.venv/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

.idea/
.DS_Store

# Folder for large simulation results - instead place using dropbox
data/simulation_data/

# Folder for experimental data
data/experiment_data/

# VS Code Settings
.vscode

# Savepoints in ipynb 
.ipynb_checkpoints
.virtual_documents

# Outputs from Tests
# Within Tests
modules_vCOVID/assets/outputs/deep_test_config

modules_vCOVID/assets/outputs/small_grid_tests
modules_vCOVID/assets/outputs/small_grid_tests_2
modules_vCOVID/assets/outputs/small_grid_tests_calc/stat_within_compare_error.csv
modules_vCOVID/assets/outputs/small_grid_tests_calc/stat_within_compare.csv
modules_vCOVID/assets/outputs/type_comp_tests
modules_vCOVID/assets/outputs/week_grid_tests

# Search huristic comparisons
modules_vCOVID/assets/outputs/flag_reset_comparison_2
modules_vCOVID/assets/outputs/flag_reset_comparison_old
modules_vCOVID/assets/outputs/flag_reset_comparison_t

# Location Plots
modules_vCOVID/assets/outputs/loc_plots/*

# Exploratory small grid tests

# Keep the compiled verision of the movement heuristic tests
!modules_vCOVID/assets/outputs/flag_reset_comparison_2/flag_comparator.pdf

# Within small grid tests (note - keeping the across used for power analysis of experimental design)
# modules_vCOVID/assets/outputs/small_grid_tests_calc/stat_across_compare_error.csv
# modules_vCOVID/assets/outputs/small_grid_tests_calc/stat_across_compare.csv

# But keep these
